.wave-form-show {
    cursor: pointer;
    position: relative;

    &:hover {
        .hover-wave {
            opacity: 1;
        }
    }
}

.hover-wave {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    pointer-events: none;
    height: 100%;
    width: 0;
    mix-blend-mode: overlay;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease;
}


.time,
.duration {
    position: absolute;
    z-index: 11;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    font-size: 11px;
    background: var(--text-darkstormy);
    padding: 2px;
    color: #ddd;
}

.time {
    left: 0;
}

.duration {
    right: 0;
}


.info-button-play {
    border-radius: 50%;
    background: var(--progresswavetop);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.info-icon {
    font-size: 30px;
    color: var(--text-white);
}

.info-audio-name {
    padding: 0 5px;
    background: var(--darkstormy);
    font-size: 30px;
    width: fit-content;
    color: var(--text-white);
}

.info-audio-author {
    padding: 0 5px;
    margin-top: 10px;
    background: var(--darkstormy);
    font-size: 20px;
    width: fit-content;
    color: var(--text-white);
}

.overlay-wave {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
    backdrop-filter: brightness(0.5);
}

.right-wave {
    width: 25%;
    padding: 15;
    display: flex;
    align-items: center;

}

.right-wave-img {
    background: #cccccc;
}

.left-wave {
    width: 75%;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-wave-show {
    display: flex;
    gap: 15px;
    padding: 20px;
    height: 400px;
    background: linear-gradient(135deg, var(--wavebgt) 0%, var(--wavebgf)100%);
}